/*=============== HOME ===============*/
.home__img-animation {
  animation: floating 2s ease-in-out infinite;
}

.home__indicator {
  width: 8px;
  height: 8px;
  background-color: var(--title-color);
  border-radius: 50%;
  position: absolute;
  top: 7rem;
  right: 2rem;
}

.home__indicator::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 48px;
  background-color: var(--title-color);
  top: -3rem;
  right: 45%;
}

@media screen and (min-width: 992px) {
  .home__indicator {
    top: initial;
    right: initial;
    bottom: 15%;
    left: 45%;
  }

  .home__indicator::after {
    top: 0;
    height: 75px;
  }
}

/* Swiper className */
.swiper-pagination {
  position: initial;
  margin-top: var(--mb-1);
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 0.5rem;
}

.swiper-pagination-bullet-active {
  width: 1.5rem;
  height: 5px;
  border-radius: 0.5rem;
}
